/* phoneFooter */
a{
    display: block;
}
.phoneFooter{
    display: none;
    position: fixed;
    bottom: 0px;
    white-space: nowrap;
}

.charmingFooter p{
    color: var(--brown2);
    font-weight: bold;
}
.phoneFooter img{
    width: 15%;
}
@media screen and (max-width:441px){
    .phoneFooter{
        display: flex;
       justify-content: center;
      }
}