.banner img {
  width: 100%;
  object-fit: cover;
  position: relative;

}

.banner--uploadimage {
  width: 100%;
  max-height: 40rem;
  object-fit: contain;
}

/* 編輯背景圖片按鈕 */
.banner--upload {
  width: 100%;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transition: 0.2s;
}
.custom-file-upload{
  width: 100%;
}
.banner:hover .banner--upload{
  opacity: 1;
}
.banner--upload input[type='file'] {
  display: none;
}
.banner--upload form{
  display: flex;
  justify-content: center;
}

.custom-file-upload {
    color: var(--white);
    text-align: center;
    padding: 20px 0px;
    background:rgba(121,82,82,.6);
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
  }
  .icon{
    top: 2px;
    right: 5px;
  }
/* ——————————————————————————————————————— */
.myproductbtn {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner--upload__cancel-submit {
  display: flex;
  flex-direction: column;
  transform: translateY(-7rem) translateX(4rem);
  transition: 1s;
}
