.ProductPage{
    margin: 50px 150px;
    --borderRadius:15px;
    --bigPictureSize:50%;
    --smallPictureSize:94px;
}
.bigImg{
    width: var(--bigPictureSize);
    height: var(--bigPictureSize);
    /* margin-top: 20px; */
    margin-right: 10px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
    object-fit: contain;
}
.smallImg{
    display: block;
    width: var(--smallPictureSize);
    height: var(--smallPictureSize);
    margin-bottom: 20px;
    /* border: 2px solid var(--brown2); */
    border-radius: var(--borderRadius);
    opacity: .4;
    overflow: hidden;
    transform: translateY(0px);
    translate: .4s;
    object-fit: contain;
}
.smallImg:hover{
    transform: translateY(-10px);
    opacity: 1;
}