.ProductPage{
    margin: 50px 150px;
    --borderRadius:15px;
    --bigPictureSize:550px;
    --smallPictureSize:122px;
}
.ProductPage h3{
    font-size: var(heading3);
    color: var(--brown2);
}
.displayFlex{
    display: flex;
}
.bigImg{
    width: var(--bigPictureSize);
    height: var(--bigPictureSize);
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
}
/* 刊登時間，檔案格式 */
.updateTime{
    display: flex;
    margin-top: 10px;

}
.updateTime p{
    margin-right: 30px;
    color: var(--brown2);
}
/* price */
.priceDiv{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.price{
    font-size: var(--heading3);
    color: var(--red);
}
/* 購買數量 */
.numberCount{
    align-items: center;
}
.numberCount input{
    width: 50px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: var(--heading4);
    color: var(--brown2);
    /* appearance: none; */

}
.shoppingCar{
    width: 200px;
    display: block;
    appearance: none;
    padding:15px 30px;
    border: none;
    font-size: var(--heading4);
    border-radius: 15px;
    color: var(--white);
    margin: 5px;
    margin-top: 10px;
    background-color: var(--red);
    Cursor:pointer;
}
.shoppingCar:active{
    background-color: rgb(93, 8, 8);
}
.productAdd {
    width: 200px;
    display: block;
    appearance: none;
    padding:15px 30px;
    border: none;
    font-size: var(--heading4);
    border-radius: 15px;
    color: var(--white);
    margin: 5px;
    margin-top: 10px;
    background-color: var(--white);
}
.smallImg a{
    display: block;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: var(--smallPictureSize);
    height: var(--smallPictureSize);
    margin-top: 20px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
}
.displayFlex > p {
    font-size: var(--heading5);
}

@media screen and (max-width:1024px){
   
}
@media screen and (max-width:780px) {
    
}
@media screen and (max-width:441px){
  
}