.ProductPage{
    margin: 50px 200px;
    --borderRadius:15px;
    --bigPictureSize:550px;
    --smallPictureSize:94px;
}
.ProductPage h3{
    font-size: var(--heading3);
    color: var(--brown2);
}
.displayFlex{
    display: flex;
    justify-content: space-between;
}
.bigImg{
    width: var(--bigPictureSize);
    height: var(--bigPictureSize);
    /* margin-top: 20px; */
    margin-right: 10px;
    border: 2px solid var(--brown2);
    border-radius: var(--borderRadius);
}
/* 刊登時間，檔案格式 */
.updateTime{
    display: flex;
    margin-top: 10px;

}
.updateTime p{
    margin-right: 30px;
    color: var(--brown2);
}
/* price */
.priceDiv{
    margin-left: 50px;
    /* display: flex;
    justify-content: space-between; */
}
.price{
    font-size: var(--heading3);
    color: var(--red);
}
/* 購買數量 */
.numberCount{
    align-items: center;
}
.numberCount input{
    width: 50px;
    height: 30px;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: var(--heading4);
    color: var(--brown2);
    /* appearance: none; */

}
.shoppingCar{
    width: 200px;
    display: block;
    appearance: none;
    padding:15px 30px;
    border: none;
    font-size: var(--heading4);
    border-radius: 15px;
    color: var(--white);
    margin: 5px;
    margin-top: 10px;
    background-color: var(--red);
    Cursor:pointer;
}
.shoppingCar:active{
    background-color: rgb(93, 8, 8);
}
.productAdd {
    width: 200px;
    display: block;
    appearance: none;
    padding:15px 30px;
    border: none;
    font-size: var(--heading4);
    border-radius: 15px;
    color: var(--white);
    margin: 5px;
    margin-top: 10px;
    background-color: var(--white);
}
.smallImg{
    display: block;
    width: var(--smallPictureSize);
    height: var(--smallPictureSize);
    margin-bottom: 20px;
    /* border: 2px solid var(--brown2); */
    border-radius: var(--borderRadius);
    opacity: .4;
    overflow: hidden;
    transform: translateY(0px);
    translate: .4s;
}
.smallImg:hover{
    transform: translateY(-10px);
    opacity: 1;
}
.ProductText pre{
    font-size: var(--heading5);
    white-space: pre-wrap;
}

.displayFlex > p {
    font-size: var(--heading5);
}
.buyNumber{
 display: flex;
 align-items: center;
}
/* 文字輸入框樣式 */
.inputTextStyle{
    border: 2px solid var(--brown3);
    border-radius: 15px;
    width: var(--textAreaWidth);
    padding: 10px;
    font-size: var(--heading4);
}
.title{
    font-size: var(--heading4);
    color: var(--brown2);
    padding-right:50px ;
    white-space: nowrap;
}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:780px) {
    
}
@media screen and (max-width:441px){
  
}