.cardContainer{
	background-color:var(--write);
	/* border: 2px solid var(--brown3); */
	box-shadow:0 0 5px var(--gray3);
	border-radius: 15px;
	margin: 0 10px;
	padding:10px;
	cursor: pointer;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}
.cardContainer h2{
	color: var(--brown2);
}
.cardContainer p{
	color: var(--brown3);
}
.cardContainer{
	width: 100vmin;
}